/* Display Size = 800×480 */
body {
  background-image: url(./PinballRoseBackground.png);
  overflow: hidden; /* Hide scrollbars */
  height: 480px;
  width: 800px;
}
p {
  font-family: 'Indie Flower';
  font-size: 50px;
  position: relative;
  top: 80px;
  left: 490px;
}
li {
  font-family: 'Indie Flower';
  font-size: 30px;
  position: relative;
  top: 250px;
  left: 3px;
}
